<div class="container p-5 d-flex justify-content-center">
    <div class="container rounded bg-one mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 border-right">
                <div class="p-3 py-5">
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label class="labels fs-5 mt-2 mb-3">Nom :</label>
                            <p class=" fw-bold mb-0"></p>
                        </div>
                        <div class="col-md-6">
                            <label class="labels fs-5 mt-2 mb-3">Prenom :</label>
                            <p class=" fw-bold mb-0"></p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label class="labels fs-5 mt-2 mb-3">date de naissance :</label>
                            <p class=" fw-bold mb-0"></p>
                        </div>
                        <div class="col-md-6">
                            <label class="labels fs-5 mt-2 mb-3">adresse email :</label>
                            <p class="fw-bold mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-right">
                <div class="p-3 py-5">
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label class="labels fs-5 mt-2 mb-3">Nom :</label>
                            <p class=" fw-bold mb-0"></p>
                        </div>
                        <div class="col-md-6">
                            <label class="labels fs-5 mt-2 mb-3">Prenom :</label>
                            <p class=" fw-bold mb-0"></p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label class="labels fs-5 mt-2 mb-3">date de naissance :</label>
                            <p class=" fw-bold mb-0"></p>
                        </div>
                        <div class="col-md-6">
                            <label class="labels fs-5 mt-2 mb-3">adresse email :</label>
                            <p class="fw-bold mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-6">      
                <div class="mb-3 col-6 mx-auto ">   
                    <button class="btn w-100 btn-outline-dark mb-1 mt-md-4" type="button" >Modifier</button></div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 col-6 mx-auto">
                    <button class="btn w-100 btn-outline-dark mb-1 mt-md-4" type="button" >Suprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>
