/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer
}

body{
    background-color: rgb(25, 25, 25);
}

.bg-one{
    background-color: rgb(242, 169, 0);
}

.bg-two{
    background-color: rgb(25, 25, 25);
}

.text-white{
    color: white;
}

.text-one{
    color: rgb(242, 169, 0);
}

.text-two{
    color: rgb(25, 25, 25);
}

.icon-one{
    fill: rgb(242, 169, 0);
}

.icon-two{
    fill: rgb(25, 25, 25);
}

.ovh{
    overflow-x: hidden;
}

